// Make user signup form here
<html>
<head>
<title>New user</title>
<header>Sign up Here</header>
</head>
<body>
  <form>
    Account Name: <input type="text" name="accountname"><br>
    Password: <input type="password" name="pwd"><br>
  </form>
</body>
</html>
